/* MAIN CSS CONTENT */

.footer-container{
  display: flex;
  justify-content:center;
 

}

.timezone-converter{
  align-items: center;
}
/* 

HOME CSS CONTENT */

div.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

div.flex-container div.column{
  display: flex; 
  flex-direction: row;
  flex-basis: 50%;
  flex: 1;
  
}
div.past-posts{
  border: 5px solid #9cc6dd;
  background-color: #FCD7AD;
  margin-bottom: 20px;
}
div.liked-posts{
  border: 5px solid #9cc6dd;
  background-color: #FCD7AD;
  margin-bottom: 20px;
}
div.blog-feed{
  border: 5px solid #9cc6dd;
  background-color: #FCD7AD;
}
.new-post-form{
  border: 5px solid #9cc6dd;
  background-color: #FCD7AD;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  
}
div.timezone-converter{
  border: 5px solid #9cc6dd;
  background-color: #FCD7AD;
}
div.timezone-converter h2{
  
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 40px; font-weight: 700; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  margin-bottom: -5px;
}
/* Blog feed css content */
div.new-post-form h2{
  
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 40px; font-weight: 700; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  margin-bottom: -5px;
}

div.past-posts h1{
  
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; font-weight: 800; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  margin-bottom: -5px;
}
div.liked-posts h1{
  
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; font-weight: 800; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  margin-bottom: -5px;
}

h2{
  
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; font-weight: 800; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  margin-bottom: -5px;
}

div.blog-feed{
  background-color: #FCD7AD;
}
.stripe1 {
  height: 1rem;
  width: 100%;
  margin: 0;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.stripe1:nth-child(even) {
  background-color: #9cc6dd;
  width: 90%;
}


/* nav css */
/* NAV CSS CONTENT */
nav{
  display: flex;
  justify-content: right !important;

}

nav a{
  margin-right: 10px;
  margin-bottom: 10px;
}

header{

  border-top: 10px solid #da5830;
  border-bottom: 10px solid #da5830;
  background-color:rgba(233, 234, 243, 0.489);

}
#passport-extension h1{
  display:flex;
  justify-content: center;
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 62px;  
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  /* padding: 150px; */
  text-decoration: none;
  font-weight: 800;
}


header p{
  display:flex;
  justify-content: center;
  color: #5296A5;
  font-style: italic;
  font-style: bold;
  margin-top: 5px;
}

header{
  color:#5296A5;
}
nav li.mx-2 .button is-info{
  
  color: #383F51;

}

@keyframes myanimation
{
    from {
        left: 0;
    }
    to {
        left: 85%;
    }
}
#stamp{
  width: 9%;
  height: 10%;
  display:flex;
  margin-top: 30px;
  margin-left: 20px;
}
img#plane{
  width: 10%;
  height: 10%;
  opacity: 0.5;
  animation: myanimation 20s forwards;
  
}

ul.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 5px;

}
.candy-stripe1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
}
.candy-stripe ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin-bottom: 30px;
}

.stripe {
  height: 1rem;
  width: 100%;
  margin: 0;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
@media (min-width: 900px) {
  .stripe {
    height: 1.5rem;
  }
}
.stripe:nth-child(even) {
  background-color: #9cc6dd;
  width: 150%;
}

/* LOGIN CSS */
section.login .entry-field{
  margin-top: 50px;
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 20%;
  width: 20%;
}
form.login-form{
  display:flex;
  justify-content: center;
 
}
.color-correct{
  background-color: rgba(233, 234, 243, 0.489);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
form.login-form button{
  margin-top: 10px;
  

}
form.signup-form{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  margin-bottom: 50px;
}

form.signup-form button{
  background-color: #9cc6dd;
  margin-top: 10px;

  
  
}
.login h2{
  margin-bottom: 15px;

}



footer{
  background-color:rgba(233, 234, 243, 0.489);
}

footer img{
  height: 40px;
  width: 40px;
  margin-left: 10px;

}
footer div.container{
 display:flex;
 justify-content: center;
}
footer div#target-bottom{
  display: flex;
  justify-content: center; /* horizontal align */
  width: 100%;
  margin-top: 10px;
 }
section.footer div.p h3{
  padding-bottom: 30px;
  font-weight: bold;
}

.label{
  align-items: center;
  background-color: #9cc6dd;
  margin-top: 5px;
  

}
textarea{
  height: 200px;
  width: 500px;
}
.timezone-converter form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.new-post-form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.timezone-converter h2{
 
}

.timezone-converter input{
  margin-top: 10px;
}

.column{
  margin-right: 20px;
}
/* #city-submit{
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
}

#specific-button{
 
} */
.card {

  border: 25px solid #9cc6dd;

}
.card form{
  display: flex;
  flex-direction: column;
 

}

main.flex-row{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
h4{
  display:flex;
  justify-content: center;
  color: #383F51; 
  font-family: 'Raleway',sans-serif; 
  font-size: 62px;  
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
  /* padding: 150px; */
  text-decoration: none;
  font-weight: 800;
}
#donate-button{
  display: flex;
  justify-content:center;
  margin-bottom: 30px;
  margin-top: 20px;
  
}
#donate-page{
  background-color: #FCD7AD;
  border: 10px solid #9cc6dd;
}